*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 100px;
}

.btn ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn ul li{
    list-style: none;
    margin: 23px;
}

.btn ul li a{
    text-decoration: none;
    color: white;
}

.btn ul li a.lin{
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #15BECD;
}

.btn ul li.Lg{
    background-color: white;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    border-radius: 5px;
}

.btn ul li.Lg a{
    color: #15BECD;
}

.btn ul li.Rg{
    background-color: #15BECD;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    border-radius: 5px;
}

.btn ul li.Rg a{
    color: white;
}

.Nav div.Logo{
    color: white;
    margin-left: 200px;
    font-size: 10px;
}

.showcase{
    background-image: url(./f505727dcc102d7c9bc9a11ba04f8b7366b326ac.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.showcase p.main{
    text-align: left;
    margin-top: 0px;
    margin-left: 90px;
    padding-top: 100px;
    color: white;
    font-size: 49px;
    line-height: 65px;
}


.showcase div p{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 90px;
    color: white;
}

.showcase div.s{
    margin-left: 90px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.u{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 15px;
    height: 20px;
    width: 100px;
    background-color: black;
}

.showcase div.w{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-left: 30px;
    border-radius: 5px;
    height: 20px;
    width: 100px;
    background-color: #15BECD;
    font-size: 15px;
}

.u a{
    color: white;
    text-decoration: none;
}

a.u{
    color: white;
    text-decoration: none;
    margin-top: 20px;
    height: 15px;
}

.showcase div.w a{
    color: white;
}

.sp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp img.i{
    height: 41pc;
    width: 33pc;
}

.sp .h1{
    margin-left: 30px;
}

.sp .h1 h1{
    font-size: 35px;
    margin-bottom: 50px;
    line-height: 55px;
}

.sp .h1 .h{
    font-size: 14px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 30px;
}

#hu{
    margin-top: 0px;
}

.globe{
    background-color: black;
    color: white;
}

.globe .t .d{
    padding-top: 50px;
}

.globe div.t{
    text-align: center;
    line-height: 50px;
}

img.g{
    margin-left: 380px;
    height: 30pc;
    width: 30pc;

}
.im{
    display: flex;
}

.com div.no{
    padding-top: 50px;
    height: 230px;
    width: 200px;
    text-align: left;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.com div.top{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.com img.vtr{
    margin: 55px;
    height: 80px;
    margin-top: 70px;
}

.com .imgg{
    height: 670px;
}

.com h1, p.hh{
    margin-left: 55px;
}

.com h1{
    font-size: 30px;
    line-height: 50px;
}

.com p.hh{
    font-size: 12px;
    margin-top: 30px;
    line-height: 23px;
}

.com .no .vcr{
    height: 30px;
    margin-bottom: 30px;
}

.com #id div{
    margin-top: 0px;
    height: 270px;
}

#tu{
    background-color: #15BECD;
}

#vid{
    background-image: url(./4de76c6ac7ca4f41797e2856439925ccf8143d00\ \(1\).jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;

}

#vid div.tra{
    height: 450px;
    padding-left: 40px;
    text-align: left;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 70px;margin-top: 50px;
}

#vid div.tra h1{
    color: #15BECD;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 50px;
}

#vid div.tra .pp{
    margin-bottom: 20px;
}

#vid div.tra p{
    line-height: 40px;
}

.blop{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 300px;
}

.bp{
    font-size: 40px;
    margin-left: 80px;
    margin-top: 80px;
}

.blop #vm{
    margin-right: 100px;
    margin-top: 150px;
}

.map .cc{
    margin-right: 30px;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e1a6;
    padding-top: 50px;
    padding-bottom: 50px;
}

.map .c{
    height: 70px;
    width: 500px;
    border-radius: 10px;
}

.map #ph, #ma{
    margin-bottom: 30px;
    margin-left: 30px;
}

.map #ph{
    background-color: white;
    color: black;
}

.map #ma{
    background-color: black;
    color: white;
}

.map #ph p{
    padding-left: 40px;
}

.map #ma p{
    padding-left: 40px;
}

.num{
    padding-top: 5px;
    margin-bottom: 10px;
}

.map .mp{
    height: 300px;
    width: 500px;
    margin-left: 30px;
    border-radius: 10px;
}

.map .wo{
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.copy{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: black;
    color: white;
    height:400px;
}

.copy .links a{
    text-decoration: none;
    color: white;
    /* margin: 10px; */
    line-height: 40px;
}

.copy #cpy{
    width: 400px;
    padding-top: 100px;
    margin-right: 60px;
}

.copy #cpy .bffh{
    width: 70px;
    border: solid 1px;
    padding: 5px;
    margin-bottom: 30px;
}

.copy .ms{
    line-height: 40px;
    padding-top: 100px;
}

.copy .links{
    padding-top: 110px;
    margin-right: 60px;
}

.copy .cp{
    border-left: 3px solid #15BECD;
    padding-left: 20px;
    margin-left: -22px;
}

.copy .mmo{
    padding-top: 0;
    padding-bottom: 0;
}

.end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: black;
    color: white;
}

#Rixel{
    color: #15BECD;
}

/* MEMBERSHIP */

.rr{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.bl{
    height: 300px;
    background-color: black;
}

.gog{
    width: 900px;
    height: 400px;
    margin-top: -200px;
    margin-left: 190px;
    border-radius: 20px;
}

.rr .blu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
    width: 870px;
    margin-left: 190px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #15BECD30;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.rr .blu p.pp{
    margin-bottom: 40px;
    line-height: 25px;
}

.rr .blu p.ppp{
    margin-top: 0px;
    line-height: 25px;
}

.rr .blu h3{
    line-height: 35px;
    font-size: 30px;
}

.lw{
    display: flex;
    align-items: center;justify-content: center;
}

.lw h2{
    font-size: 40px;
    line-height: 60px;
}

.lw p{
    font-size: 15px;
    line-height: 30px;
}

.lw .hp{
    width: 500px;
    margin-left: 50px;
}

.lw .hp ul li{
    list-style: square;
    line-height: 30px   ;
}

.lw .hp ul{
    margin-top: 20px;
    margin-left: 20px;
}

.lw .hp h2{
    margin-bottom: 20px;
}

.lw .sw{
    width: 360px;
    margin-top: -50px;
}

.aw{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: black;
    color: white;
    padding-bottom: 30px;
    padding-top: 10px;
}

.aw h2{
    font-size: 40px;
    line-height: 50px;
}

.aw p{
    font-size: 15px;
    line-height: 25px;
}

.aw .wp{
    width: 500px;
    margin-right: 50px;
}

.aw .wp ul li{
    list-style: square;
    font-size: 15px;
    line-height: 25px;
}

.aw .wp ul{
    margin-top: 20px;
    margin-right: 20px;
}

.aw .wp h2{
    margin-bottom: 20px;
}

.aw .rw{
    width: 360px;
    margin-top: -30px;
}

.mw{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.mw h2{
    font-size: 40px;
    line-height: 60px;
}

.mw p{
    font-size: 15px;
    line-height: 30px;
}

.mw .mp{
    width: 500px;
    margin-left: 50px;
}

.mw .mp ul li{
    list-style: square;
    line-height: 30px   ;
}

.mw .mp ul{
    margin-top: 20px;
    margin-left: 20px;
}

.mw .mp h2{
    margin-bottom: 20px;
}

.mw .kw{
    width: 360px;
    border-radius: 15px;
}

#pr {
    background-color: black;
    padding-top: 50px;
}

#pr .til{
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;     
}

#pr .di{
    display: flex;
    align-items: center;
    justify-content: center;

}

#pr .di .div{
    background-color: white;
    height: 110px;
    width: 450px;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 40px;
}

#pr .di .div h2{
    color: #15BECD;
}

#pr .di #fg{
    background-color: #15BECD;
    color: white;
}
#pr .di #fg h2{
    color: black;
}
#rev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    width: 970px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: rgb(158, 247, 217);
}

#rev .hl{
    background-color: white;
    height: 200px;
    line-height: 40px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
}

hr.rm{
    width: 50px;
    border-top: solid 1.5px #15BECD;
}

#rev .sup{
    margin-right: 400px;
}

#rev .sup h2{
    font-size: 30px;
    line-height: 50px;
}

/* About */

#asf{
    display: flex;
    margin-left: 140px;
}

#asf .af{
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    margin-top: -120px;
}

.black{
    height: 300px;
    background-color: black;
    color: #15BECD;
    font-size: 18px;
    padding-left: 150px;
}

#sto{
    width: 80%;
    margin-left: 150px;
    line-height: 23px;
    margin-top: 70px;
}

#sto p{
    margin-top: 30px;
}

#sto h3{
    font-size: 30px;
    line-height: 40px;
}

#mis{
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    width: 80%;
    margin-left: 130px;
    line-height: 20px;
    margin-top: 70px;
}

#mis p{
    margin-top: 20px;
    width: 700px;
    font-size: 14px;
}

#mis h3{
    margin-top: 20px;
    font-size: 35px;
}

#vis{
    display: flex;
    background-color: #c0f3f7;
    color: black;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    width: 80%;
    margin-left: 130px;
    line-height: 20px;
    margin-top: 70px;
}

#vis p{
    margin-top: 20px;
    width: 700px;
    font-size: 14px;
}

#vis h3{
    margin-top: 20px;
    font-size: 35px;
}

#fou{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

#fou .fout{
    width: 550px;
    line-height: 25px;
}

#fou .fout h2{
    margin: 20px;
    margin-left: 0px;
    color: #15BECD;
}

#fou img{
    width: 400px;
    margin-left: 20px;
     border-radius: 10px;
}

.imgh{
    background-image: url(./0bcdc5ace81838c31a8d07238e034296dbf88c02.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-left: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.imghh{
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.imghh p{
    margin-top: 10px;
}

/* Blog */

#talkk p, h3{
    width: 800px;
    margin-left: 250px;
}

#talkk h3{
    margin-top: 50px;
}

#talkk p{
    margin-top: 10px;
    line-height: 25px;
}

#talkk img{
    width: 800px;
    margin-left: 250px;
}

.talkkt{
    text-align: center;
}

.talkkt p{
    font-size: 23px;
    color: gray;
    margin-bottom: -30px;
    padding-top: 40px;
}

.talkkt h3{
    margin-bottom: 40px;
    font-size: 40px;
    color: gray;
}

.rf{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #c0f3f7;
    padding-left: 10px;
    border-radius: 10px;
}

.rf p{
    margin-top: 20px;
}

.rf h2{
    font-size: 15px;
}

.rf img{
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 10px;
}

#rff{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

#comm{
    width: 800px;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 200px;
}

#comm p{
    margin-bottom: 5px;
}

#comm .tuc, .tu{
    margin-left: 40px;
    font-size: 12px;
}

#comm .tuc{
    color: #15BECD;
}

#comm hr{
    margin: 20px;
    margin-left: 0px;
}

#comm .Ca{
    font-size: 15px;
}

#comm .lc{
    font-size: 15px;
}

#comm .lia{
    font-size: 12px;
    color: #15BECD;
}

#comm .co{
    height: 100px;
    background-color: rgb(222, 218, 218);
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#comm .btn{
    background-color: black;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    color: white;
    width: 150px;
    height: 30px;
}

#comm .btn:hover{
    width: 160px;
    height: 35px;
    padding-top: 20px;
    color: #15BECD;
}

#blog #cpy{
    width: 450px;
    text-align: center;
}

#blog #cpy .bffh{
    margin-left: 200px;
    text-align: left;
}